<style>

        body {
          /* Eae Rapazeada, De Boa? */
            background-color: #000020;
            background-image: url();
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center center;
            color: white;
            font font-family: Sans-Serif;
        }
        header {
          color:white;
            background: linear-gradient(to right, #FF1744, #2962FF); /* Vermelho e Azul */
            text-align: center;
            padding: 20px;
        }
        h1 {
          /* Portfólio Elisson */
          color:white;
         display: flex;
         font-family: 'Playpen Sans', cursive;
         align-items: center;
         justify-content: center;
         height: 1vh;
         background: linear-gradient(to rigth, #FF1744, #2962FF);
          }
         h1:hover {
        text-shadow: red -2px 0, cyan 2px 0;
         }
          color:white;
            font-size: 36px;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;

        img {
            width: 160px;
            height: auto;
            margin-bottom: 20px;
        }

        .neon {

font-size: 18px;

font-weight: 700;

text-decoration: none;

display: inline-block;

color: #f1b;
          
padding: 10px 20px;

border: #f1b 8px solid;

border-radius: 16px;

box-shadow: inset 0 0 32px 0 #f1b, 0 0 32px 0 #f1b;

text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 32px
        

        position: relative;

        }



        .neon2 {

font-size: 18px;

font-weight: 700;

text-decoration: none;

display: inline-block;

color: #f1b;

padding: 10px 20px;

border: #f1b 8px solid;

border-radius: 16px;

box-shadow: inset 0 0 32px 0 #f1b, 0 0 32px 0 #f1b;

text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 32px

        position: relative;

        }        

    </style>
